# Windows
Thumbs.db
desktop.ini
# macOS
.DS_Store
# VS Code
.vscode/
# Logs
*.log
# Node
node_modules/
# Composer
vendor/
# Environment
.env
/content/
/hosting/
/n8n/
/assets/images/*
!/assets/images/zigurat-logo.svg
